<h1>Showing Hospital details</h1>

<p><strong>Name:</strong><%= @hospital.name %></p>
<p><strong>Description: </strong><%= @hospital.description %></p>
<p><strong>Address: </strong><%= @hospital.address %></p>
<p><strong>Specialization: </strong><%= @hospital.specialization %></p>
<p><strong>Logo: </strong></p>